[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[[source]]
name = "mxnet"
url = "https://dist.mxnet.io/python"
verify_ssl = true

[dev-packages]

[packages]
jupyter = "*"
mxboard = "*"
tensorboard = "*"
matplotlib = "*"
panda = "*"
pandas = "*"

[requires]
python_version = "3.6"
